@import '../common';

#content {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding: 0 100px;
    margin-top: 10vh;
}

#home-text-div {

    display: flex;
    flex-direction: column;
    gap: 30px;

    h1 {
        font-size: $title-font-size;
        text-shadow: 2px 2px 2px $background-color2;
    }

    h3 {
        font-size: $large-font-size;
    }
}

#home-img {
    width: 500px;
    box-shadow: 8px 8px 4px $dark;
}
