@import '../common';

#nav-div {
    display: flex;
    flex-direction: row;
    position: fixed;
    background-color: $background-color2;
    top: 0;
    left: 0;
    width: 100vw;
    gap: 20px;
    font-size: $med-font-size;
    padding: 30px;
    z-index: 10;

    h4 {
        color: $highlights;
        text-shadow: 2px 2px 1px $dark;
    }
    h4:hover {
        transform: scale(0.98);
        text-shadow: 1.7px 1.7px 0 $dark;
    }
}